[access]
	inheritFrom = All-Projects
[submit]
	action = fast forward only
[receive]
	requireChangeId = false
[access "refs/heads/*"]
	push = +force group Administrators
[access "refs/meta/config"]
	push = group Administrators

[project]
	description = "Hello, world!"

[github]
	owner = "deltarocks"
	repo = "jrsonnet"
